#carouselExampleCaptions {
    height: 600px;
  }
  
  
#carouselExampleCaptions .carousel-inner .carousel-item {
    height: 600px;
}

#carouselExampleCaptions .carousel-inner .carousel-item img{
    height: 750px;
    width: 100%;
}


.features{
    display: flex;
    flex-direction: column;
}

.features>div{
    display: flex;
    flex-direction: row;
}

.features>div>div{
    width: 48%;
    padding: 30px 35px;
    display: flex;
    background: #f6f7f9;
    margin: 5px;
    border-radius: 3px;
}

.features i{
    width: 30px;
    font-size: 30px;
    color: #F8516F;
}

.features div{
    font-size: 18px;
}

.features strong{
    color: #000;
}

.features p{
    color: #808080;
    margin-top: 5px;
}

.main-content{
    max-width: 1100px;
    margin: auto;
    margin-top: 30px;
}



#categories{
    display: flex;
    justify-content: space-between;
}

#products{
    display: flex;
    flex-wrap: wrap;
}

.card{
    width: 22%;
    margin: 15px;
}

.card .image-container img{
    /* width: 235px;
    height: 235px; */
    width: 100%;
}

.card .container{
    padding-top: 10px;
    border-top: 1px solid rgb(231, 227, 227 );
}

.stars i{
    color: #f7bc00;
}

.card .old-price{
    text-decoration: line-through;
    font-size: smaller;
}

.card .new-price{
    color: rgb(28, 105, 238);
    font-size: larger;
    font-weight: bold;
}

.btn-add-to-cart{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.footer{
    padding: 60px 0;
    border-top: 2px solid red;
    background-color: rgb(250, 210, 118);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.footer-1 .logo img{
    width: 80px;
}

.footer-1 p{
    cursor: pointer;
    font-size: 14px;
    padding: 4px;
    color: black;
}

.footer-2{
    text-align: center;
    cursor: pointer;
}

.footer-2 h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(253, 57, 8);
    font-size: 30px;
}

.footer-2 img{
    width: 100px;
    margin-bottom: 15px;
}
